# Unit 6. 변수(Variable)

- 표기법

In [1]:
my_height = 174.5       # snake 표기법 - 파이썬
myWeight = 72           # camel 표기법 - 자바

In [2]:
한글변수 = 5            # 한글변수명이 가능하나 잘 안쓰임

### 6.1 변수 만들기

In [3]:
x = 10

In [4]:
x, y, z = 10, 20, 30        # tuple unpacking

In [5]:
# 기존 언어에서 두 개의 값을 바꾸는 방법(Swapping)
temp = x
x = y
y = temp
x, y

(20, 10)

In [6]:
#파이썬에서만 가능한 스와핑
x, y = y, x
x, y

(10, 20)

In [7]:
x = y = z = 10

In [8]:
#값이 없는 변수
x = None
x

### 6.2 변수 계산

In [9]:
a, b = 10, 20
c = a + b
a, b, c

(10, 20, 30)

In [10]:
# 변수 a의 값을 20만큼 증가시켜라

a = a + 20
a

30

In [11]:
a += 20         # a = a + 20
a

50

In [12]:
# 1에서 100까지 합 구하기

sumation = 0
for i in range(1, 101):
    sumation += i
sumation

5050

In [13]:
# 1에서 10까지 곱 구하기

product = 1
for i in range(1, 11):
    product *= i
product

3628800

In [14]:
# range(시작, 끝, 단위)
# range(1, 11) --> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

### 6.3 입력(Input)

In [15]:
x = input()
x, type(x)              # input은 문자열로만 받을 수 있다.

('', str)

In [18]:
number = int(input('정수를 입력하세요>'))        # prompt
number, type(number)

(1, int)

In [19]:
# 문자열이라서 이상하게 나옴
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')

print(a + b)

12

In [20]:
# 제대로 나오게 하는 방법
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: '))

print(a+b)

3

In [21]:
10 + 20, '10' + '20'

(30, '1020')

### 6.4 입력값 두 개 받기

In [22]:
# 스트링 split() method

'10 20'.split()         # 공백으로 분리하여 두 개의 문자열이 리스트로 반환

['10', '20']

In [23]:
a, b = '10 20'.split()
a, b

('10', '20')

In [24]:
a, b = input('두 개의 숫자를 입력하세요 : ').split()
a, b

('10', '20')

In [25]:
int(a) + int(b)

30

In [26]:
# map
list(map(int, ['10', '20']))                # list의 각각의 element에 대해 앞부분을 적용

[10, 20]

In [27]:
a, b = map(int, input('두 개의 숫자를 입력하세요 : ').split())
a, b, a + b

(10, 20, 30)

In [28]:
# ,로 분리된 숫자 3개를 입력으로 받아 합계를 구하기
a, b, c = map(int, input(',로 분리된 숫자 3개를 입력하세요.').split(','))
a, b, c, a + b + c

(10, 20, 30, 60)

- 숫자 N개를 입력받아 합계와 평균 구하기

In [29]:
numbers = list(map(int, input('정수 여러개를 입력하세요.').split()))
numbers

[10, 20, 30, 40]

In [31]:
sum(numbers), sum(numbers)/len(numbers)

(100, 25.0)